.dropdown:hover>.dropdown-toggle {
    color: rgba(0, 0, 0, 0.7);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-right-0 {
    left: unset;
    right: 0;    
}

.navbar {
    box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 15%) !important;
}

.navbar-search {
    position: relative;
}

.navbar-search>.navbar-search-input {
    padding-right: 40px;
}

.navbar-search>.navbar-search-button {
    border: none;
    background: none;
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    z-index: 3;
}

.navbar-search>.navbar-search-button:focus {
    box-shadow: none;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.horizontal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

@media (max-width: 992px) {
    .padding-bottom-mobile {
        padding-top: 5rem;
    }    
}

@media (min-width: 992px) {
    .flex-lg-fill-unset {
        padding-right: 0.5rem;
        flex: unset !important;
    }
}

.full-page {
    min-height: calc(100vh - 110px);
}

.star-rating {
    color: orange;
}

.dashboard-card-place {
    width: 18rem;
}

.dashboard-card-place > .card-img-top {
    height: 160px;
    object-fit: cover;
}