.navbar-nav > .input-group > .input-group-prepend > .input-group-text {
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
}

.navbar-nav > .input-group > .input-group-append > .input-group-text {
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
}


.card-img-top {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.user-panel img {
    height: 2.5em;
    width: 2.5rem;
}

.img-160 {
    height: 160px;
    width: 160px;
    object-fit: cover;
}

.img-80 {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.img-50 {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.img-60 {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.img-h-70 {
    width: 100%;
    height: 150px !important;
    object-fit: cover;
}

@media (min-width: 992px) {
    .img-h-70 {
        height: 200px !important;
    }
}
.img-main-place-dashboard {
    height: 220px;
    object-fit: cover;
}

.img-place-show-main {
    height: 260px;
    width: 100% !important;
    object-fit: cover;
}

.img-place-show-other {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
}

@media (min-width: 992px) {
    .img-place-show-main {
        height: 368px;
        width: 100% !important;
        object-fit: cover;
    }

    .img-place-show-other {
        height: 180px;
        width: 100% !important;
        object-fit: cover;
    }
}

.image-content {
    position: relative;
    height: 100%;
}

.image-content img {
    width: 100%;
    vertical-align: top;
}

.image-content:after {
    content: attr(data-content);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 38%;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    border-radius: 0.25rem !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image-content:hover:after {
    opacity: 1;
}

.btn.btn-outline-primary.nohover:hover {
    background-color: #00000012;
    color: #007bff;
}